
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
  body {
    background-color: #1c1c1c;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #292929!important;">
        <span class="navbar-brand mb-0 h1">pss925</span>
        <span class="navbar-text mb-0">Bridging Coursework</span>
        <a class="btn btn-sm btn-outline-secondary" style="margin-left: auto;" href="https://github.com/palvindersander/palvindersander.github.io/blob/master/cv.pdf">CV</a>
        <!--
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
        -->

</nav>

<div class="container">

<div class="col-md-8 offset-md-2" style="color: white;">
    <h1>What I have enjoyed this year</h1>
    <!--<small>
        details | <a href=""> details </a>
    </small>-->
    <p>This year I have enjoyed learning new computer science skills. Examples of these include datastructures, algorithms, machine learning and object-oriented design . Furthermore, learning about the mathematics that underpin these topics has given me greater appreciation for the logical deduction required to develop such fields.</p>
</div>

<div class="col-md-8 offset-md-2" style="color: white;">
    <h1>What I'm looking forward to learning next year</h1>
    <p>Next year I have enjoyed learning new computer science skills. Examples of these include functional programming (by using Haskell), security and networks and artificial intelligence. Furthermore, learning about the software engineering lifecycle and being able to apply it to our own project in the following term taught me many skills that will be needed throughout my career.</p>
</div>

<div class="col-md-8 offset-md-2" style="color: white;">
    <h1>How this site is structured and how Django works</h1>
    <h4>Structure</h4>
    <p>The urls.py file forwards the appropriate view to the views.py file based on a HTTP request. The models.py file reads and writes data with the views.py file. The templates provide the HTML to the views.py file. The views.py file then gives a HTTP response, which is the desired website with the desired format/view.
    </p>
    <h4>Django</h4>
    <p>Django does all of the tedious tasks when setting up a web server and website, and uses a friendly programming language: Python. It does this by having a series of components that work together. One of these is the request/response system, which allows Django to accepts requests for URLs and return the HTML needed to display the page. Django passes on each URL to a view so that it can be processed and returned. A view is some Python code that is executed when a URL is accessed, such as returning a line of text, analysing an input etc. Then a response is sent back to the user. This response is usually a HTML web page that are created using templates. With all of the components, creating websites is made easy and structured, which is why famous sites like Instagram use the Django framework.</p>
</div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
